@font-face {
    font-family: 'Inter';
    src: url("./assets/fonts/Inter/Inter-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Inter';
    src: url("./assets/fonts/Inter/Inter-Bold.ttf");
    font-weight: 800;
}

@font-face {
    font-family: 'Forum';
    src: url("./assets/fonts/Forum/Forum-Regular.ttf");
    font-weight: 400;
}

* {
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}

.header {}

h1 {
    margin-right: 397px;
    color: white;
    font-family: 'Forum', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 0.5px;
}

.nav {
    margin-right: 32px;
}

.nav-item {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    letter-spacing: 0px;
    color: white;
}

/* ul>.nav-item {
    margin-right: -10px;
} */

.nav-item a {
    display: block;
    padding: 0px 10px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0C0C0E;
}

.profile {
    width: 28px;
    height: 28px;
    background-image: url(./assets/svg/icon_profile.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.container {
    max-width: 1440px;
    /* margin: 0 auto; */
    min-height: 50px;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 10px;
}

.nav-link {
    /* margin: 20px; */
    line-height: 50px;
    text-decoration: none;
    color: #ddd4d4;
    transition: color 0.5s;
}

.nav-link:hover {
    color: #9e9e9e;
    transition: color 0.5s;
}

* body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;

    font-family: 'Inter';
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #4d2323;
    background-color: #f6f8fa;
}

.section {}

.section-welcome {
    min-height: 600px;
    background: url(./assets/img/Welcome.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-welcome-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
    width: 600px;
    height: 220px;
    margin-top: 220px;
    text-align: center;
    background: #0C0C0E;
}

.main-title {
    color: white;
    font-family: 'Forum', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 3px;
}

.section-about {
    display: flex;
    flex-direction: column;
    /* align-self: center; */
    align-items: center;
    /* flex-wrap: wrap; */
    /* align-content: space-between; */
    /* justify-content: space-between; */
    min-height: 837px;
}

.section-title {
    position: relative;
    margin: 0;
    margin-top: 20px;
    font-family: 'Forum', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 2px;
    color: #0C0C0E;
}

.section-title::after {
    position: absolute;
    content: '';
    left: 29px;
    top: 60px;
    content: '';
    width: 50px;
    border-bottom: 1px solid #0C0C0E;
}

.section-subtitle {
    padding-top: 41px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0px;
    color: #0C0C0E;
}

.section-slider {
    width: 1400px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* height: 560px; */
    text-align: center;
    overflow: hidden;
}

.slider_images {
    display: flex;
    max-width: 1400px;
    /* overflow-x: auto; */
    justify-content: space-between;
    /* scroll-snap-type: x mandatory; */
    -webkit-overflow-scrolling: touch;
}

.slider_links {
    margin-top: 35px;
}

.slider_links a {
    position: relative;
    display: inline-flex;
    width: 16px;
    height: 16px;
    margin: 0px 3px 0.5rem 3px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    background: #BB945F;
    border-radius: 50%;
}

.slider_links a::after {
    content: "";
    position: absolute;
    left: -3px;
    top: -3px;
    width: 22px;
    height: 22px;
    background: #e8347400;
}

.slider_links>a:active {
    top: 1px;
}

.slider_links>a:focus {
    background: #000;
}

.section-favorites {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1439px;
}

.section-favorites-title>.section-title::after {
    width: 50px;
    left: 56px;
    top: 60px;
}

.favorites-selection {
    display: block;
    align-self: flex-start;
    margin-left: 20px;
    margin-top: 53px;
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

.selection-title {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0px;
    color: #000000;

    padding: 5px 0px;
}

.section-favorites-radiobuttons:first-of-type {
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
    font-size: 20px;
}

label {
    margin-right: 92px;
    line-height: 32px;
}

input {
    appearance: none;

    border-radius: 50%;
    width: 16px;
    height: 16px;

    border: 2px solid #999;
    transition: 0.2s all linear;
    margin: 0;
    margin-right: 22px;
    margin-top: 1px;

    position: relative;
    top: 6px;
}

input:checked {
    border: 6px solid black;
}

.favorites-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 220px;
    margin-top: 14px;
}

.card-wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 555px;
    width: 550px;
    margin: 20px 20px;
    padding: 10px;

    background-color: #FFF;
    border: 1px solid #000000;
}

.card-image {
    position: absolute;
    right: -41px;
    bottom: -1px;
}

.card-main-title {
    margin: 0;
    font-size: 20px;
}

.card-main-title::after {
    width: 60px;
    left: 0px;
    top: 40px;
    border-bottom: 1px solid #BB945F;
}

.card-subtitle {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 40px;
    letter-spacing: 2px;
    color: #000000;
}

.card-description {
    margin: 0;
    width: 375px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 40px;
    letter-spacing: 2px;
    color: #000000;
    text-transform: capitalize;
}

.buy-action {
    display: inline-block;
    width: 75px;
    height: 30px;

    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 10px;
    line-height: auto;
    letter-spacing: 1px;

    text-align: center;
    text-decoration: none;
    color: #0C0C0E;

    border: 1px solid #0C0C0E;
    border-radius: 3%;
    background-color: white;

    cursor: pointer;
}

.buy-action:hover

/* ,
.buy-action:focus  */
    {
    background-color: #BB945F;
    border: none;
}

/* .buy-action:active {
    background-color: white;
    color: black;
    outline: 1px solid black;
} */