@font-face {
    font-family: 'Inter';
    src: url("./assets/fonts/Inter/Inter-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Inter';
    src: url("./assets/fonts/Inter/Inter-Bold.ttf");
    font-weight: 800;
}

@font-face {
    font-family: 'Forum';
    src: url("./assets/fonts/Forum/Forum-Regular.ttf");
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

html::-webkit-scrollbar {
    width: 0px;
}


html {
    scroll-behavior: smooth;
}

* body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;

    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0px;
    color: #000000;
    background-color: #ffffff;
}

.header {}

.container {
    max-width: 1440px;
    margin: 0 auto;
    min-height: 50px;
}

.header-container {
    display: flex;
    align-items: center;
    padding: 0px 20px;
    background: #0C0C0E;
}

h1 {
    color: white;
    font-family: 'Forum', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 0.5px;
}

.nav {
    max-width: 585px;
    width: 100%;
    margin-left: auto;
    margin-right: 40px;
}

.nav-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0;
}

.nav-item {
    line-height: 50px;
}

.nav-item a {
    display: block;
}

.nav-link {
    line-height: 50px;
    text-decoration: none;
    color: #FFFFFF;
    transition: color 0.5s;
}

.nav-link:hover {
    color: #9e9e9e;
    transition: color 0.5s;
}

.profile {
    width: 28px;
    height: 28px;
    background-image: url(./assets/svg/icon_profile.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.profile:hover {
    transition: 0.5s;
    opacity: 0.5;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.section {}

.section-welcome {
    min-height: 600px;
    background-image: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.1)100%), url(./assets/img/Welcome_full.jfif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-welcome-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
    width: 600px;
    height: 220px;
    margin-top: 220px;
    text-align: center;
    background: #0C0C0E;
}

.main-title {
    font-family: 'Forum', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 3px;
    color: white;
}

.section-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 849px;
    justify-content: flex-start;
    margin-bottom: 27px;
}

.section-title {
    position: relative;
    margin: 0;
    margin-top: 20px;
    font-family: 'Forum', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 2px;
    color: #0C0C0E;
}

.section-title-about {
    margin-top: 20px;
}

.section-title::after {
    position: absolute;
    content: '';
    left: 29px;
    top: 60px;
    width: 50px;
    border-bottom: 1px solid #0C0C0E;
}

.section-subtitle {
    text-align: center;
    color: #0C0C0E;
    padding: 0px 20px 0px;
    margin-top: 61px;
}

.section-slider {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0px 20px;
    text-align: center;
    overflow: hidden;
}

.slider_images {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    row-gap: 20px;
}

.slider_buttons {
    margin-top: 16px;
}

.slider_buttons a {
    position: relative;
    display: inline-flex;
    width: 16px;
    height: 16px;
    margin: 0 2px;
    background: #BB945F;
    border-radius: 50%;
}

.slider_buttons a::after {
    content: "";
    position: absolute;
    left: -5px;
    top: -5px;
    width: 26px;
    height: 26px;
    background: #e8347400;
}

.slider_buttons>a:active {
    top: 1px;
}

.slider_buttons>a:focus {
    background: #000;
}

.slider_buttons a:nth-child(n+2) {
    background: #0C0C0E;
}

.slider_buttons a:nth-child(n+4) {
    display: none;
}

.section-favorites {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 1439px;
}

.section-favorites-title>.section-title::after {
    width: 50px;
    left: 56px;
    top: 60px;
}

.favorites-selection {
    display: flex;
    align-self: flex-start;
    max-width: 715px;
    width: 95%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 53px;
}

fieldset {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
}

.selection-title {
    padding: 0;
    font-weight: bold;
}

.section-favorites-radiobuttons:first-of-type {
    display: flex;
    margin-top: 24px;
    justify-content: space-between;
}

.radio {
    position: relative;
    display: flex;
    width: 110px;
    align-items: center;
    letter-spacing: 1px;
}

.radio:nth-child(3) {
    width: 125px;
}

.radio:nth-child(4) {
    width: 125px;
}

.real-radio {
    position: absolute;
    width: 38px;
    height: 33px;
    margin: 0;
    opacity: 0;
    z-index: 5;
    cursor: pointer;
}

.real-radio:checked+.custom-radio::before {
    display: block;
}

.custom-radio {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    margin-top: 4px;
    width: 17px;
    height: 17px;
    background: #FFF;
    border: 2px solid #000000;
    border-radius: 50%;
}

input:checked~label,
input:not(:checked)~label {
    cursor: pointer;
}

input:checked~label {
    font-weight: bold;
}

.custom-radio::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 49%;
    display: inline-block;
    width: 7px;
    height: 7px;
    background: rgb(0, 0, 0);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.favorites-cards {
    display: flex;
    flex-wrap: wrap;
    margin: 31px 60px 0px 20px;
}

.card-wrapper {
    position: relative;

    height: 555px;
    min-width: 550px;
    display: flex;
    flex-direction: column;

    padding: 14px 19px;
    row-gap: 20px;
    background-color: #FFF;
    border: 1px solid #000000;
}

.card-wrapper:nth-child(2n+1) {
    margin-right: auto;
    margin-bottom: 40px;
}

.card-main-title {
    margin: 0;
    font-size: 20px;
    color: #000000;
}

.card-main-title::after {
    width: 60px;
    left: 0px;
    top: 39px;
    border-bottom: 1px solid #BB945F;
}

.card-subtitle {
    margin: 0;
    font-size: 15px;
    letter-spacing: 2px;
}

.card-description {
    margin: 0;
    width: 358px;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.btn-action {
    position: absolute;
    bottom: 14px;
    display: inline-block;
    width: 75px;
    height: 30px;

    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 1px;
    color: #0C0C0E;
    border: 1px solid #0C0C0E;
    border-radius: 2px;
    background-color: white;
    cursor: pointer;
}

.btn-action:hover

/* ,
.btn-action:focus  */
    {
    border-radius: 2px;
    border: 1px solid #BB945F;
    background: #BB945F;
    transition: 0.2s all linear;
}

/* .btn-action:active {
    background-color: white;
    color: black;
    outline: 1px solid black;
} */

.card-image {
    position: absolute;
    right: -41px;
    bottom: -1px;
}

.own-disabled {
    cursor: auto;
    color: #BB945F;
    border: 1px solid #BB945F;
}

.own-disabled:hover {
    background: #ffffff;
}

.favorites-cards>.card-wrapper:nth-child(n+5) {
    display: none;
}

.section-coffeeshop {
    display: flex;
    flex-direction: column;
    min-height: 841px;
}

.section-coffeeshop>.section-title {
    align-self: center;
}

.section-coffeeshop>.section-title::after {
    left: 86px;
}

.section-coffeeshop>.section-subtitle {
    max-width: 1400px;
    text-align: center;
    letter-spacing: 1.9px;
}

.price-list-wrapper {
    display: flex;
    justify-content: space-between;
}

.left-price-list {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin: 20px;
    align-items: self-start;
}

.price-list-title {
    margin: 0;
    color: #BB945F;
}

.price-list-title::after {
    content: none;
}

.price-list {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
}

.price-list__item {
    display: flex;
    align-items: center;
    gap: 59px;

}

.price-list__line {
    margin-left: auto;
    width: 100px;
    height: 1px;
    background: #BB945F;
}

.price-list__price {
    font-family: 'Forum';
}

.right-price-list {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin: 20px;
    align-items: self-end;
}

.right-price-list .price-list__item {
    justify-content: right;
}

.right-price-list .price-list__line {
    margin-left: 0;
}

.section-contacts {
    display: flex;
    flex-direction: column;
    row-gap: 41px;
    max-height: 1055px;
    justify-content: flex-start;
    margin-bottom: 27px;
}

.section-contacts>.section-title {
    align-self: center;
    margin: 20px;
}

.section-contacts>.section-title::after {
    left: 95px;
}

.contacts-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 0px;
}

.contacts-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 24px;
}

.numbers-list-title {
    margin-bottom: 12px;
}

.numbers-list {
    display: flex;
    flex-direction: column;
    row-gap: 9px;
    list-style: none;
}

.numbers-list-title,
.numbers-list,
.staff-list-title,
.staff-list {
    font-size: 20px;
}

.tel-item {}

.tel-link,
.mail-link {
    text-decoration: none;
    color: #000000;
    transition: color 0.5s;
}

.contacts-list ul,
.contacts-list p {
    margin: 0;
    padding: 0;
}

.staff-list {
    margin-top: -8px;
}

.staff-list-title {
    margin-bottom: -7px;
    margin-top: 11px;
}

.numbers-list,
.staff-list {
    line-height: 40px;
    letter-spacing: 2px;
}

.map-wrapper {
    display: block;
    max-width: 696px;
    height: 414px;
}

.map-img {
    width: 100%;
    height: 100%;
}

.section-library-cards {
    display: flex;
    flex-direction: column;
    row-gap: 41px;
    margin-bottom: 40px;
}

.section-library-cards>.section-title {
    align-self: center;
    margin-bottom: 20px;
}

.section-library-cards>.section-title::after {
    left: 161px;
}

.section-wrapper {
    display: flex;
    padding: 0px 20px 0px;
}

.find-card-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    margin-right: auto;
}

.form-title {
    font-weight: 400;
    font-size: 30px;
    line-height: normal;
    letter-spacing: 0.6px;
}

.form-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 599px;
    min-height: 385px;
    padding: 18px 17px;
    border: 3px solid #BB945F;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: white;
}

h3 {
    margin: 0;
}

.form-inputs {
    padding: 78px 20px 26px;
    background-color: #BB945F;
}

#readers-name {
    margin: 11px 0px 25px;
}

h4 {
    margin: 0;
}

.form-control,
.form-subtitle {
    font-family: 'Forum';
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 0.6px;
    color: #8E8E8E;
}

.form-subtitle {
    position: absolute;
    top: 38px;
    left: 37px;
    color: #000000;
}

.form-subtitle h4 {
    margin: 10px 0px;
}

.form-inputs input {
    position: static;
    width: 100%;
    height: 66px;
    margin: 0;
    padding: 5px 20px;
    box-sizing: border-box;
    border: 1px solid #dddddd;
    border-radius: 10px;
    background: #fff;
    cursor: auto;
}

.check-card-btn {
    bottom: 27px;
    width: 243px;
    height: 44px;
    font-size: 20px;
}

.get-card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: end;
    row-gap: 20px;
    max-width: 456px;
    min-height: 253px;
}

.get-card-title {
    font-family: 'Forum';
}

.get-card-descr {
    margin: 0;
    margin-top: 16px;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.4px;
}

.buttons-wrapper {
    display: flex;
    column-gap: 20px;
    margin-top: 14px;
}

.signup-btn,
.login-btn {
    position: static;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 43px;
    min-height: 250px;
    background: #000;
}

.soc-media-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 20px;
}

.soc-media-wrapper::after {
    position: absolute;
    content: '';
    left: 0px;
    top: 121px;
    width: 100%;
    border-bottom: 1px solid #ffffff;
}

.links-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 19px;
}

.address {
    text-decoration: none;
}

.soc-media-list {
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.soc-icon {
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
}

.twitter {
    background-image: url(./assets/svg/u_twitter-alt.svg);
}

.instagram {
    background-image: url(./assets/svg/u_instagram.svg);
}

.facebook {
    background-image: url(./assets/svg/u_facebook-f.svg);
}

.soc-media-list a {
    display: block;
    padding: 0px 10px;
}

.schedule-list {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin: 0;
    padding: 0;
    gap: 12px;
    font-size: 15px;
    line-height: 20px;
}

.schedule {
    font-size: 15px;
    line-height: 20px;
    color: #FFF;
}

.creation-date-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px;
    letter-spacing: 2px;
    color: #ffffff;
}

.year {
    margin-right: 10px;
}

.github {
    display: block;
}

.github,
.rss {
    color: #ddd4d4;
    text-decoration: none;
    line-height: 45px;
}

.burger_menu_btn {
    display: none;
    margin-left: 40px;
    position: relative;
    width: 45px;
    height: 30px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    margin-bottom: 8px;
}

.burger_menu_btn {
    color: #9e9e9e;
    transition: color 0.5s;
}

.burger_line {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 2px;
    background: #FFFFFF;
}

.burger_line::before,
.burger_line::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFFFFF;
}

.burger_line::after {
    top: 10px;
}

.slider_left_arrow,
.slider_right_arrow {
    display: none;
    position: absolute;
    width: 24px;
    height: 24px;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.slider_left_arrow {
    background-image: url(./assets/svg/Carret_Left.svg);
}

.slider_right_arrow {
    background-image: url(./assets/svg/Carret_Right.svg);
}

.slider_left_arrow {
    left: -82px;
    bottom: 262px;
}

.slider_right_arrow {
    right: -82px;
    bottom: 262px;
}

.slider_left_arrow,
.slider_right_arrow {
    display: block;
}

@media screen and (max-width: 768px) {

    h1 {
        margin-right: auto;
    }

    .nav {
        display: none;
    }

    .burger_menu_btn {
        display: block;
    }

    .slider_images>div:nth-child(n+3) {
        display: none;
    }

    .slider_buttons a:nth-child(n+4) {
        display: inline-flex;
    }
}

@media screen and (max-width: 1279px) {
    .favorites-cards {
        justify-content: center;
        flex-direction: column;
        /* column-gap: 50px; */
    }

    .card-wrapper:nth-child(2n+1) {
        margin-right: 0px;
    }

    .card-wrapper:nth-child(n+2) {
        margin-bottom: 40px;
    }

    /* .price-list-wrapper {
        flex-direction: column;
    } */

    .section-wrapper {
        align-items: center;
        flex-direction: column;
    }

    .find-card-wrapper {
        margin-right: 0px;
    }

    .get-card-wrapper {
        margin-top: 21px;
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width: 1420px) {
    #slide-3 {
        display: none;
    }

    .slider_images {
        justify-content: space-around;
    }
}

@media screen and (max-width: 1024px) {
    h1 {
        margin-right: auto;
    }

    .nav {
        display: none;
    }

    .burger_menu_btn {
        display: block;
    }

    .slider_images {
        max-width: 580px;
        align-self: center;
    }

    .slider_images>div:nth-child(n+3) {
        display: none;
    }

    .slider_left_arrow,
    .slider_right_arrow {
        display: block;
    }

    .slider_buttons a:nth-child(n+4) {
        display: inline-flex;
    }

    .section-about {
        margin-bottom: 13px;
    }

    .price-list-wrapper {
        flex-direction: column;
    }

    .section-contacts>.section-title {
        margin-top: 40px;
    }

    .contacts-wrapper {
        flex-direction: column;
    }

    .map-wrapper {
        margin-top: 95px;
        align-self: center;
    }

    .section-library-cards>.section-title {
        margin-bottom: 21px;
        margin-top: 32px;
    }


}

/* * {
    outline: 1px solid red;
} */